# .NET Core
bin/
obj/
*.swp

# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp

# Build results
out/
*.exe
*.dll

# Package directories
node_modules/
bower_components/

# Windows image file caches
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Visual Studio Code
.vscode/

# Mac
.DS_Store
